input {	
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	border-top:0;
	border-right:0;
	background-color: #FFF9CE;
	border-bottom-color: #888;
	border-bottom-width: 1px;
}

input[type=button], input[type=submit] {
	background-color: #F6EDC6
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#player input {
	margin-left: -5px;
	border-bottom-color: #CCC;
}

div#player input.six {
	width:96%;
}

div#player input.three {
	width:48%;
}

div#player input.two {
	width:32%;
}

div#player input.one {
	width:16%;
}

div#player input.first {
	margin-left:5px;
}

div#player textarea {
	margin-left: 5px;
	width:96%;
	height: 200px;
	background-color: #FFF9CE;

}

div.floatbox {
	position: relative;
}

div#fb-stats {
	width: 600px;
}

div#char-stats tr>:first-child {
	width: 65px;
}

div#char-stats tr:first-child{
	font-weight: 400;
	font-size: 67%;
}

div#char-stats .tot, div#char-stats .mod {
	text-align: center;
}

div#char-stats .tot {
	width:40px;
}

div#char-stats .mod {
	width:60px;
}

div#char-stats input {
	width:50px;
	text-align: center;
}

div#char-stats .tot, div#char-stats .mod {
	font-weight: bold;
}

div#hp {
	position: absolute;
	right:0px;
	top: 19px;
}

div#hp label{
    display: inline-block;
    width: 80px;
    text-align: right;
}

div#hp input, div#hp span#cur-hp {
	width: 50px;
	margin-left: 5px;
	display: inline-block;
	text-align: center;
}

div#hp input {
	margin-right: 3px;
}

div#hp span.excelent {
	color:#00DD01;
}

div#hp span.normal {
	color:#009900;
}

div#hp span.medium {
	color:#FF6600;
}

div#hp span.low {
	color:#FF0000;
}

div#hp span.crit {
	color:#000000;
}

div#hp span.dead {
	color:#000000;
	text-decoration: line-through;
}

div#rolls tr>:first-child {
	width:65px;
}

div#rolls table {
	margin-top: 20px;
}

div#rolls table:first-child {
	margin-top: 0;	
}

div#rolls table td {
	text-align: center;
	width: 40px;
	font-weight: bold;
}

div#fb-class {
	width: 680px;
	height: 250px;
}

div#class input {
	width:38px;
	margin: 0;
}

div#class td#name input {
	width: 248px;
}

div#class td#favored input {
	width: 128px;
	font-weight: bold;
}

div#class td {
	text-align: center;
}

div#class td input {
	text-align: center;
}

div#class td.cls-tot {
	font-weight: bold;
}

div#class tr>:last-child input{
	border-left-color: #000;
}

div#class th {
	width: 40px;
	font-size: 67%;
}

div#class th#name {
	width: 250px;
}

div#class table {
	position: absolute;
	top: 0;
	right: 0;
}

div#misc table {
	position: absolute;
	top:150px;
	left: 134px;
}

div#misc th {
	width: 60px;
}

div#misc th input{
	font-weight: bold;
	color: #000;
}

div#misc input {
	width: 55px;
	text-align: center;
}

div#skills span#pen {
	float:right;
}


div#skls th {
	width: 40px;
	font-size: 67%;
}

div#skls input[type=number] {
	width: 38px;
	height: 15px;
	padding-top: 0px;
}

div#skls input[type=checkbox] {
	margin: 0 5px 0 0;
}

div#skls select {
	font-size: 80%;
}

div#skls th#name {
	width: 250px;
}

div#skls span.stat {
	float: right;
}

div#skls select {
	background: transparent;
	padding: 0px;
	color: #000;
	font-size: 16px;
	line-height: 1;
	border-width: 0;
	border-radius: 0;
	height: 17.5px;
	font-size: 80%;
}

div#skls span.cust {
	border-bottom: 1px solid #888;
	border-left: 2px solid #9A9A9A;
}

div#skls input.cft-box {
	width: 137px;
}

div#skls input.kn-box {
	width: 152px;
}

div#skls input.name {
	width: 175px;
}

div#skls input.prof-box {
	width: 100px;
}

div#skls input.desc {
	text-align: left;
	padding-left: 4px;
}

div#skls td, div #skls td input {
	text-align: center;
}

div#skls td:first-child {
	text-align: left;
}

div#skls td.tot {
	font-weight: bold;
}

td, th {
	//background: -moz-linear-gradient(-80deg, #0F0 0%, #F00 100%, #F00 50%);
}

textarea {
	margin: 5px 0;
	width:99%;
	height: 500px;
	background-color: #FFF9CE;

}