input {
	margin: 0 -4px;
	border-top:0;
	border-right:0;
	background-color: #FFF9CE;
}

input.six {
	width:99%;
}

input.three {
	width:49.5%;
}

input.two {
	width:33%;
}

input.one {
	width:16.5%;
}

div#stats input {
	width:60px;
}

div#stats tr>:first-child {
	width: 50px;
	text-align: left;
	font-weight: bold;
}

div#stats tr:first-child{
	font-weight: 400;
	font-size: 67%;
}