input {
	border-top:0;
	border-right:0;
	background-color: #FFF9CE;
}

input[type=button], input[type=submit] {
	background-color: #F6EDC6
}

div#player input {
	margin: 0 -4px;
}

div#player input.six {
	width:99%;
}

div#player input.three {
	width:49.5%;
}

div#player input.two {
	width:33%;
}

div#player input.one {
	width:16.5%;
}

div#player input.first {
	margin-left:5px;
}

div#player textarea {
	margin-left: 5px;
	width:99%;
	height: 200px;
	background-color: #FFF9CE;

}

div.floatbox {
	position: relative;
}

div#fb-stats {
	width: 600px;
}

div#char-stats tr>:first-child {
	width: 65px;
}

div#char-stats tr:first-child{
	font-weight: 400;
	font-size: 67%;
}

div#char-stats .tot, div#char-stats .mod {
	text-align: center;
}

div#char-stats .tot {
	width:40px;
}

div#char-stats .mod {
	width:60px;
}

div#char-stats input {
	width:50px;
	text-align: center;
}

div#char-stats .tot, div#char-stats .mod {
	font-weight: bold;
}

div#hp {
	position: absolute;
	right:0px;
	top: 19px;
}

div#hp label{
    display: inline-block;
    width: 80px;
    text-align: right;
}

div#hp input, div#hp span#cur-hp {
	width: 50px;
	margin-left: 5px;
	display: inline-block;
	text-align: center;
}

div#hp input {
	margin-right: 3px;
}

div#hp span.excelent {
	color:#00DD01;
}

div#hp span.normal {
	color:#009900;
}

div#hp span.medium {
	color:#FF6600;
}

div#hp span.low {
	color:#FF0000;
}

div#hp span.crit {
	color:#000000;
}

div#hp span.dead {
	color:#000000;
	text-decoration: line-through;
}

div#rolls tr>:first-child {
	width:65px;
}

div#rolls table {
	margin-top: 20px;
}

div#rolls table:first-child {
	margin-top: 0;	
}

div#rolls table td {
	text-align: center;
	width: 40px;
	font-weight: bold;
}

div#fb-class {
	width: 680px;
}

div#class input {
	width:38px;
	margin: 0;
}

div#class td#name input {
	width: 248px;
}

div#class td#favored input {
	width: 128px;
	font-weight: bold;
}

div#class td {
	text-align: center;
}

div#class td input {
	text-align: center;
}

div#class td.cls-tot {
	font-weight: bold;
}

div#class tr>:last-child input{
	border-left-color: #000;
}

div#class th {
	width: 40px;
}

div#class th#name {
	width: 250px;
}

div#class table {
	position: absolute;
	top: 0;
	right: 0;
}