table input {
	width:50px;
}

div#player input {
	margin: 0 -4px;
	border-top:0;
	border-right:0;
	background-color: #FFF9CE;
}

input.six {
	width:99%;
}

input.three {
	width:49.5%;
}

input.two {
	width:33%;
}

input.one {
	width:16.5%;
}