body {
	font-size:80%;
	font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;
}

ul#tabs {
	list-style-type:none;
	margin:30px 0 0;
	padding:0 0 .3em;
}

ul#tabs li {
	display:inline;
}

ul#tabs li a {
	color:#42454a;
	background-color:#F6EDC6;
	border:1px solid #c9c3ba;
	border-bottom:none;
	text-decoration:none;
	padding:.3em;
}

ul#tabs li a:hover {
	background-color:#FFF9CE;
}

ul#tabs li a.selected {
	color:#000;
	background-color:#FFF9CE;
	font-weight:700;
	padding:.7em .3em .38em;
}

div.tabContent {
	border:1px solid #c9c3ba;
	background-color:#FFF9CE;
	padding:.5em;
	min-width:1000px;
}

div.tabContent.hide {
	display:none;
}